<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Category</title>
</head>
<body>

    <h2>Add New Category</h2>

    <form action="/savecategory" method="post" th:object="${category}">
        <label for="name">Category Name:</label>
        <input type="text" id="name" name="name" th:field="*{name}" required>
        <button type="submit">Save Category</button>
    </form>

</body>
</html>
