<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Category List</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
    <h2>Category List</h2>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="category : ${categories}">
                <td th:text="${category.categoryid}"></td>
                <td th:text="${category.name}"></td>
            </tr>
        </tbody>
    </table>
    <a href="/addcategory">Add category</a>
</body>
</html>
